[submodule "tools/subprojects/micropython"]
	path = tools/subprojects/micropython
	url = https://github.com/micropython/micropython.git
[submodule "tinygrad"]
	path = tinygrad
	url = https://github.com/steetstyle/tinygrad.git
